<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
			<title>Checkin Browser</title>
		<link rel=stylesheet href='../static/base.css' type='text/css' media=screen />
		
		<script type='text/javascript' src='../static/jquery.min.js'></script>

		<script type="text/javascript" charset="utf-8">
			$(document).ready(
				function setInitialState() {
					var initialState = {links: $("#linkList").html()};
					history.replaceState(initialState, "", "");
				}
			)
		</script>
		
		<script type="text/javascript" charset="utf-8">
		
			function getLinks (event, op, field, query) {
				if (-[1,]) {
					event.preventDefault();
					$.post(
						"/ajax/?op=" + op + "&f=" + field + "&q=" + query,
						function (result) {
							if (!result.error) {
								$("#friendsLink").empty().append(result.data.friendsLink);
								$("#linkList").empty().append(result.data.links);
							} else {
								$("#friendsLink").empty();
								$("#linkList").empty().append(result.error);
							}
							var state = {links: $("#linkList").html()};
							history.pushState(state, query, "?op=" + op + "&f=" + field + "&q=" + query);
						},
						"json");
					}	
				}
				
			function getCheckins (event, query) {
				event.preventDefault();
				$.post(
					"/ajax/?q=" + query,
					function (result) {
						if (!result.error) {
							$("#checkins").empty().append(result.data.checkins);
						} else {
							$("#checkins").empty().append(result.error);
						}
					},
					"json"
				);
			}
				
			window.onpopstate = function(event) {
				if (event.state) {
					$("#linkList").empty().append(event.state.links);
				}
			}
			
		</script>
	</head>
	<body>
		<div id="bodyWrapper">
			<div id="mainContent">
					<div class="logout">
						<a href="/logout/">Logout</a>
					</div>
					
					<div id="friendsLink">
					% if 'data' in links and 'friendsLink' in links['data']:
						${links['data']['friendsLink']}
					% endif
					</div>
					% if 'error' in links:
						<div id="error">
							${links['error']}
						</div>
					% elif 'data' in links:
						<div id="linkContainer">
							<ul id="linkList">
								${links['data']['links']}
							</ul>
						</div>
					% endif
					</div>
					<div id="checkinContainer">
						<ul id="checkins">
						</ul>
					</div>
			</div>		
		</div>
		<script type="text/javascript" charset="utf-8">
			$("body").on(
						"click",
						"#linkList a",
						function (event) {
							getLinks(event, $(this).attr("op"), $(this).attr("f"), $(this).attr("q"));
						}
					);
					
			$("body").on(
						"click",
						"#checkins a",
						function (event) {
							getCheckins(event, $(this.attr("q")));
							$("#checkinContainer").css('display', 'visible');
						}
					);
		</script>
	</body>
</html>